@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  text-align: center;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Montserrat', sans-serif;
}
.popup {  
  position: fixed;  
  width: 25%;  
  height: 25%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 50%;  
  margin: auto;  
  background: -webkit-linear-gradient(left, #85a100, #25b7c4);
  background: linear-gradient(to right,  #85a100, #25b7c4);
  font-family: 'Montserrat', sans-serif;
  /* background-color: lightgrey;   */
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 0%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
} */
.App-link {
  color: #09d3ac;
}

table{
  width:100%;
  table-layout: fixed;
  /* margin-top: 15px; */
  position: inherit;
}

.tbl-header{
  background-color: rgba(255,255,255,0.3);
  position: inherit;
  /* margin-top: 15px; */
 }
.tbl-content{
  height:100%;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
  position: inherit;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  position: inherit;
}
td{
  position: inherit;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: inherit;
}
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

